doctype html
html
    head
        meta(charset="utf-8")
        title Chromium Bug demo
        link(rel="stylesheet", href="index.scss")
        script(src="index.js")

    body
        div#absolute

        div#wrapper
            h1 Text
