body {
    margin: 0;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #888;
    animation: slide-in 500ms ease-out;
    z-index: -1;
}

#wrapper {
    min-height: 400vh; // simulate long page
}
